* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
  color: #232317;
}

body {
  width: 100%;
}

html {
  width: 100%;
  background-color: #f1ede4;
}

h1 {
  text-decoration: underline;
}

.ut-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #bba881;
  line-height: 100%;
  height: 100%;
}

.ut-header .header-title {
  font-size: 1.5em;
  font-weight: bold;
  flex-basis: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  align-self: center;
}

.ut-header .header-add-timer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.ut-header .mat-button {
  min-width: 170px;
  width: 80%;
  max-width: 500px;
  border: 1px solid white;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5em;
  background-color: #a99160;
  border-radius: 2px;
}

.ut-header .mat-button:hover {
  background-color: #cdbfa2;
  cursor: pointer;
}

.ut-header .header-end-spacer {
  flex-basis: 100px;
  flex-shrink: 1;
}

.ut-timer {
  display: flex;
  flex-direction: column;
  height: 140px;
  border-bottom: 2px solid white;
  border-bottom-color: #f1ede4;
}

.ut-timer .flat-timer-progress {
  position: absolute;
  height: 140px;
  z-index: -1;
}

.ut-timer .flat-timer-name {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

.ut-timer .flat-timer-container {
  position: absolute;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 140px;
  text-align: center;
}

.ut-timer .flat-timer-container .flat-timer-input {
  align-self: center;
  height: 50%;
  min-width: 400px;
  width: 50%;
}

.ut-timer .flat-timer-container .flat-timer-input input {
  width: 100%;
  font-family: 'Droid Serif', serif;
  height: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 3em;
  background-color: hsla(62.857143, 22.105263%, 81.37255%, 0.5);
  border-radius: 4px;
  font-style: italic;
  padding-left: 15px;
}